
<div class="container">
<div *ngIf="auth.isAdmin()">
	<button class="btn btn-lg btn-outline-primary float-right"
		 (click)="open(undefined)">Create</button>
		<br>
		<br>
</div>
	<div class="row">
		<div *ngFor="let category of categories" class="col-xl-4 mt-2">
			<div class=" btn btn-sq-lg">
				<div [routerLink]="['category/', category.id]"
					outerLinkActive="active">
					<div class="col">
						<h3>{{category.name}}</h3>
					</div>
					<div class="col">
						<p>{{category.description}}</p>
					</div>
					<br> <br>
					<div class="col">
						<p>Last topic: {{category.topicName}}
						<p>Topics: {{category.topicCount}}
					</div>
				</div>
				<div class="row" *ngIf="auth.isAdmin()">
					<div class="col-6">
						<div class="icon eraser" (click)="delete(category.id)" placement="top" ngbTooltip="Delete"></div>
					</div>
					<div class="col-6">
						<div class="icon pencil float-right" (click)="open(category)"
							placement="top" ngbTooltip="Edit"></div>
					</div>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>
</div>
<br>



