<div class="container">
	<div *ngIf="!topic">Loading</div>
	<div *ngIf="topic">
		<div class="post-topic post-data">
			<p>Name:{{topic.name}}</p>
			<p>Description: {{topic.description}}</p>
		</div>
	</div>
	<button class="btn btn-md btn-outline-primary float-right"
		(click)="open(undefined)">Post a reply!!</button>
	<h2>Answers</h2>

	<div *ngIf="posts?.length > 0">
		<div class="post" *ngFor="let post of posts">
			<div class="row">
				<div class="col-sm-3 user-data">
					<p>Inserted By: {{post.user.userName}}
					<p>Insert Date : {{post.insertDate | date: 'dd/MM/yyyy-hh:mm'}}
					<p *ngIf="post.updateDate">Update Date : {{post.updateDate | date: 'dd/MM/yyyy-hh:mm'}}
				</div>
				<div class="col-sm-9 post-data">
					<a [routerLink]="['topic/', topic.id]" routerLinkActive="active">
						<p>Comment: {{post.comment}}</p>
						<p>Solution: {{post.solution}}</p>
						<p>Is correct: {{post.isCorrect ? 'Yes' : 'No'}}</p>
					</a>
					<button class="btn btn-md btn-outline-primary float-right"
						(click)="open(post)">Update</button>
				</div>
			</div>
			<br>
		</div>

		<button></button>


	</div>