
<div *ngIf="!topic">Loading</div>
<div *ngIf="topic">
	<div class="m-3" >
		<div class="row"><button class="btn btn-lg ml-2 mr-2 mb-2  btn-outline-primary"
		 [routerLink]="['/category', categoryId]">Back</button>
		 <h1>Topic</h1>
		 </div>
		
		<div class="row border border-dark"></div>
		<br>
		<div class="row">
			<div class="col-xl-3 ml-3">
				<div class="float-center">
				<p><a  [routerLink]="['/profile/']" [queryParams]="{ user: topic.user.userName }" *ngIf="auth.isLoggedIn()" placement="top" ngbTooltip="Check profile">Author: {{topic.user.userName}}</a></p>
					<p  *ngIf="!auth.isLoggedIn()" >Author: {{topic.user.userName}}</p> <img
						src="assets/profilepic.png" class="prof-pic-topic border border-dark">
				</div>
			</div>
			<div class="col-xl-8 mt-5">
				<h3>
					Title: <small>{{topic.name}}</small>
				</h3>
				<br>
				<h4>
					Isue: <small>{{topic.description}}</small>
				</h4>
			</div>
		</div>
	</div>
	<button class="btn btn-md btn-outline-primary float-right" *ngIf="auth.isLoggedIn()"
		style="position: relative; z-index: 1" (click)="open(undefined)">Post
		a reply!!</button>
	<div class="m-3" *ngIf="posts?.length > 0">
		<h3>Answers</h3>
		<div class="row border border-dark"></div>
		<div class="post" *ngFor="let post of posts">
			<br>
			<div class="row ">
				<div
					class="col-xl-3 user-data border border-dark border-top-0 border-bottom-0 border-left-0 ">
					<p><a  [routerLink]="['/profile/']" [queryParams]="{ user: post.user.userName }" *ngIf="auth.isLoggedIn()" placement="top" ngbTooltip="Check profile">By: {{post.user.userName}}</a></p>
							<p *ngIf="!auth.isLoggedIn()">By: {{post.user.userName}}</p>
					<p>Insert Date : {{post.insertDate | date: 'yyyy-MM-dd HH:mm'}}
					<p *ngIf="post.updateDate">Update Date : {{post.updateDate |
						date: 'yyyy-MM-dd HH:mm'}}
					<div *ngIf="post.isCorrect && myTopic()"
						(click)="unmarkAsAnswer(post)" class="icon-lg check-box pointer" placement="top" ngbTooltip="Unmark"> </div>
					<div *ngIf="!post.isCorrect && myTopic()"
						(click)="markAsAnswer(post)"
						class="icon-lg check-box-empty pointer" placement="top" ngbTooltip="Mark"></div>
					<div *ngIf="post.isCorrect && !myTopic()" class="icon-lg check-box"  placement="top" ngbTooltip="This topic is answered"></div>

				</div>
				<div class="col-xl-9">
					<h3>Solution:</h3>
					<pre>
						<code highlight [code]="post.solution"></code>
					</pre>
					<div class="row">
						<div class="col-11">
							<p>Comment: {{post.comment}}</p>
						</div>
						<div class="col-1 mt-3" *ngIf="this.auth.isAdmin() || myPost(post)" >
							<div class="icon eraser"  (click)="delete(post.id)" placement="top" ngbTooltip="Delete"></div>
							<div class="icon pencil mt-2" (click)="open(post)" placement="top" ngbTooltip="Edit"></div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row border border-dark mr-5 ml-5"></div>
			<br>
		</div>
	</div>
</div>