<div class="modal-header">
	<h4 class="modal-title">{{!post? 'Create new post' : 'Update
		post'}}!</h4>

	<button type="button" class="close" aria-label="Close"
		(click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">

	<form [formGroup]="postForm" (ngSubmit)="save(postForm.value)">
		<!-- username -->
		<div class="form-group">
			<label for="i_comment">Comment</label> <input type="text"
				id="i_comment" placeholder="Comment" formControlName="comment"
				class="form-control">
			<div *ngIf="comment.invalid && (comment.dirty || comment.touched)"
				class="alert alert-danger">
				<div *ngIf="comment.errors.required">Comment is required.</div>
			</div>
		</div>
		<!-- password -->
		<div class="form-group">
			<label for="i_solution">Solution</label>
			<textarea type="text" id="i_solution" placeholder="Solution"
				formControlName="solution" class="form-control"></textarea>
			<div *ngIf="solution.invalid && (solution.dirty || solution.touched)"
				class="alert alert-danger">
				<div *ngIf="solution.errors.required">Solution is required.</div>
			</div>
		</div>

		<button type="submit" class="btn btn-outline-dark">Submit</button>
		<button type="button" class="btn btn-outline-dark"
			(click)="activeModal.close('Close click')">Close</button>
	</form>
</div>