/* You can add global styles to this file, and also import other style files */
.topic {
	text-align: left;
	position: relative;
    left: 0px;
    width: 98%;
    padding: 10px;
}
.post {
	text-align: left;
}

.user-data{
	background-color: rgba(240,36,211, 0.5	);
}

.post-data{
	
	background-color: rgba(0,36,211, 0.1	);
}

h2 {
	text-align: left;
}
